.absolute-parent{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.start a {
    position: relative;
    left: 20px;
    font-size: 25px;
    font-weight: bold;
    color: orange;
}
.start a:hover {
    text-decoration: none;
    color: rgb(241, 183, 76) ;
}

    
.navigations {
    list-style-type: none;
    display: flex;
    font-size: 12px;
    position: relative;
    right: 10px;
}

.navigations li {
    text-align: center;
    margin : 20px 20px; 
}
.navigations a:hover {
    text-decoration: none;
    color:rgb(167, 164, 164);
}
.free-box a {
    display: inline-block;
    background-color: orange;
    text-align: center;
    width: 160px;
    height: 40px;
    border-radius: 9999px;
    font-size: 10px;
    text-decoration: none;
    color:white
}

.free-counseling {
    text-align: center;
    background-color: orange;
    width: 500px;
    height: 70px;
    border-radius: 9999px;
    position: relative;
    top: 130px;
    left: 220px;
}
.free-counseling a {
    position: relative;
    top: 20px;
    text-decoration: none;
    color: white;
    font-size: 15px;

}


.circle {
    background-color: orange;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    left: 680px;
    bottom: 300px;
    
}
.circle p {
    color: white;
    text-align: center;
    font-weight: bold;
    
}

.big {
    font-size: 75px;
    position: relative;
    bottom: 120px;
    padding-right: 20px;
    padding-left: 20px;
}
.note {
    position: relative;
    right: 10px;
    bottom: 60px;
    font-size: 10px;

}

.message {
    font-size: 30px;
    position: relative;
    top: 155px;
    left:235px;
}

.info {
    position: relative;
    top: 120px;
    left: 245px;
    font-size: 10px;
}

.FirstView__bg-image--main-visual {
    top: 10px;
    right: 0px;
    width: 775px;
}
.FirstView__bg-image {
    position: absolute;
    z-index: -1;
}
.FirstView__bg-image--left-rectangle {
    width: 280px;
    top: 60px;
    left: 0;
}
.FirstView__bg-image--right-rectangle {
    right: 0px;
    bottom: 0px;
}
.FirstView__bg-image--fill-rectangle {
    top: 150px;
    left: -70px;
}
.FixedFooter {
    bottom: 0;
    position: fixed;
    right: 4px;
    z-index: 10;
}
a {
    color: #333;
    text-decoration: none;
}
.FixedFooter img {
    cursor: pointer;
    display: block;
    max-width: 375px;
}

img.lazy {
    min-height: 1px;
}